__pycache__/*
.cache
.coverage
.docker-build*
.DS_Store
.env
.eslintcache
.idea
.vscode/
*.db
*.pyc
*.sqlite3
*~
assets
local-credentials/*.json
birdbox/birdbox/static/
birdbox/static_collected/
birdbox/media/
docker/envfiles/local.env
node_modules/
python_coverage
venv
