__pycache__/*
.cache
.coverage
.docker-build*
.DS_Store
.env
.eslintcache
.idea
.vscode/
*.db
*.pyc
*.sqlite3
*~
assets
static_collected
birdbox/birdbox/static/
birdbox/static/
birdbox/media/
node_modules/
python_coverage
venv
