version: '3.8'
services:
  # Run webpack-dev-server and compile static assets.
  #
  # This is the primary server and it proxies the
  # Django app so that Webpack can watch for file changes.
  assets:
    build:
      context: .
      target: assets
    image: mozmeao/birdbox_assets:${GIT_COMMIT:-latest}
    platform: linux/amd64
    command: npm run watch
    ports:
      - "8000-8010:8000-8010"
    volumes:
      - ./src/:/app/src:delegated
      - ./birdbox/:/app/birdbox:delegated
      - ./assets/:/app/assets:delegated
    environment:
      WP_PROXY_URL: "http://app:8080"

  # The Django app
  app:
    build:
      context: .
      target: devapp
    command: python birdbox/manage.py runserver 0.0.0.0:8080
    depends_on:
      - db
      - redis
    env_file: .env
    environment:
      DATABASE_URL: postgres://postgres:postgres@db/postgres
      REDIS_URL: redis://redis:6379
    image: mozmeao/birdbox_test:${GIT_COMMIT:-latest}
    platform: linux/amd64
    ports:
      - "8080:8080"
    volumes:
      - ./birdbox/:/app/birdbox:delegated
      - ./bin/:/app/bin:delegated
      - ./docker/:/app/docker:delegated
      - ./etc/:/app/etc:delegated
      - ./src/:/app/src:delegated
      - ./root_files/:/app/root_files:delegated
      - ./wsgi/:/app/wsgi:delegated
      - ./assets/:/app/assets:delegated

  # run the tests against local changes
  test:
    image: mozmeao/birdbox_test:${GIT_COMMIT:-latest}
    depends_on:
      - db
      - redis
    env_file: docker/envfiles/test.env
    environment:
      DATABASE_URL: postgres://postgres:postgres@db/postgres
      REDIS_URL: redis://redis:6379
    volumes:
      - ./birdbox/:/app/birdbox:delegated
      - ./bin/:/app/bin:delegated
      - ./docker/:/app/docker:delegated
      - ./etc/:/app/etc:delegated
      - ./src/:/app/src:delegated
      - ./root_files/:/app/root_files:delegated
      - ./tests/:/app/tests:delegated
      - ./wsgi/:/app/wsgi:delegated

  # run tests with no volumes
  test-image:
    image: mozmeao/birdbox_test:${GIT_COMMIT:-latest}
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgres://postgres:postgres@db/postgres
      REDIS_URL: redis://redis:6379
    env_file: docker/envfiles/test.env

  # The production-grade Django app, run locally, without local env vars
  release:
    build:
      context: .
      target: release
      args:
        GIT_SHA: ${GIT_COMMIT:-latest}
    depends_on:
      - db
      - redis
    environment:
      ALLOWED_HOSTS: "*"
      DATABASE_URL: postgres://postgres:postgres@db/postgres
      EMAIL_BACKEND: "django.core.mail.backends.console.EmailBackend"
      REDIS_URL: redis://redis:6379
      SECRET_KEY: "This is not the 53cr3t k3Y, it is just a tribute"

    image: mozmeao/birdbox:${GIT_COMMIT:-latest}
    platform: linux/amd64
    ports:
      - "8000:8000"
    volumes:
      - ./birdbox/:/app/birdbox:delegated
      - ./bin/:/app/bin:delegated
      - ./docker/:/app/docker:delegated
      - ./etc/:/app/etc:delegated
      - ./lib/:/app/lib:delegated
      - ./root_files/:/app/root_files:delegated
      - ./wsgi/:/app/wsgi:delegated

  # The production-grade Django container, run locally.
  # Also draws from local .env file if available.
  # Needs the release image build before you can use this,
  # which is taken care of via the justfile
  release-local:
    depends_on:
      - db
      - redis
    env_file: .env
    environment:
      ALLOWED_HOSTS: "*"
      DATABASE_URL: postgres://postgres:postgres@db/postgres
      EMAIL_BACKEND: "django.core.mail.backends.console.EmailBackend"
      REDIS_URL: redis://redis:6379
      SECRET_KEY: "This is not the 53cr3t k3Y, it is just a tribute"
    image: mozmeao/birdbox:${GIT_COMMIT:-latest}
    ports:
      - "8000:8000"
    volumes:
      - ./birdbox/:/app/birdbox:delegated
      - ./bin/:/app/bin:delegated
      - ./docker/:/app/docker:delegated
      - ./etc/:/app/etc:delegated
      - ./lib/:/app/lib:delegated
      - ./root_files/:/app/root_files:delegated
      - ./wsgi/:/app/wsgi:delegated

  builder:
    build:
      context: .
      target: python-builder
    image: mozmeao/birdbox_build:${GIT_COMMIT:-latest}
    platform: linux/amd64

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: postgres

  redis:
    image: redis

  # Support for executing housekeeping tasks on a local docker setup

  compile-requirements:
    image: mozmeao/birdbox_build:${GIT_COMMIT:-latest}
    platform: linux/amd64
    command:
      ./bin/compile-requirements.sh
    volumes:
      - .:/app
