# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

[tool.ruff]
# Set what ruff should check for.
# See https://beta.ruff.rs/docs/rules/ for a list of rules.
select = [
    # TODO: Enable flake8-builtin and fix errors to fix variable name shadowing errors.
    # "A", # flake8-builtin errors.
    # TODO: Enable bugbear and fix errors.
    # "B", # bugbear errors
    "DJ", # flake8-django errors.
    "E", # pycodestyle errors
    "F", # pyflakes errors
    "I", # import sorting
    "Q", # flake8-quotes errors
    "W", # pycodestyle warnings
]
line-length = 150  # To match black
target-version = 'py39'
extend-exclude = ["__pycache__", "docs", "assets", "static", "bedrock/externalfiles/files_cache"]

[tool.ruff.per-file-ignores]
"birdbox/birdbox/settings/dev.py" = ["F403", "F405"]
"birdbox/birdbox/settings/production.py" = ["F403", "F405"]

[tool.ruff.isort]
# known-first-party = ["example1", "example2"]
section-order = ["future", "standard-library", "django", "third-party", "first-party", "local-folder"]
combine-as-imports = true

[tool.ruff.isort.sections]
django = ["django"]

[tool.black]
line-length = 150  # To match ruff
target-version = ['py39']
include = '\.pyi?$'
