// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($image-path: '/static/protocol/img');
@import '~@mozilla-protocol/core/protocol/css/components/callout';

.mzp-c-callout .mzp-l-compact {
    margin: $spacing-lg auto;
}
