// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/section-heading';

.mzp-c-section-heading {
    max-width: $content-max;
    padding: var(--v-grid-xs) var(--h-grid-xs);
    text-align: start;

    @media #{$mq-md} {
        padding: var(--v-grid-md) var(--h-grid-md);
    }

    @media #{$mq-xl} {
        padding: var(--v-grid-md) var(--h-grid-xl);
    }

    &.t-align-center {
        max-width: $content-lg;
        text-align: center;
    }
}
