{# https://protocol.mozilla.org/components/detail/card--overview.html #}
{# NB: Does not behave inside an mzp-l-content wrapper - that's against planned use #}

{% load birdbox_tags wagtailimages_tags %}

<section class="mzp-c-card {{block.size}} {{block.image_aspect_ratio}}">
    {% if block.link.url %}
    <a class="mzp-c-card-block-link" href="{{block.link.url}}">
    {% endif %}
        {% if block.card_image.image %}
        <div class="mzp-c-card-media-wrapper">
          {% with block.card_image as image_block %}
            {% include "common/partials/accessible_image.html" with image_block=image_block %}
          {% endwith %}
        </div>
        {% endif %}
        <div class="mzp-c-card-content">
            {% if block.tag %}
            <div class="mzp-c-card-tag">{{block.tag}}</div>
            {% endif %}
            <h2 class="mzp-c-card-title">{{block.title}}</h2>
            <p class="mzp-c-card-desc">
                {{block.description}}
            </p>
            {% if block.cta %}
            <p class="mzp-c-card-cta">
                <span class="mzp-c-card-cta-text">{{block.cta}}</span>
            </p>
            {% endif %}
            {% if block.meta_info %}
            <p class="mzp-c-card-meta">{{block.meta_info}}</p>
            {% endif %}
        </div>
    {% if block.link.url %}
    </a>
    {% endif %}
</section>
