{# https://protocol.mozilla.org/components/detail/columns--overview.html #}

{% load wagtailcore_tags microsite_tags %}

<section class="bb-column-block {{block.value.theme}}" style="background-color: {{block.value.background_color}}">
  <div class="mzp-l-content {{ block.value.layout_size }}">
  {% if block.value.title %}
    <h2 class="bb-column-block-title">{{block.value.title}}</h2>
  {% endif %}
    <div class="{{block.value.column_layout}} {{block.value.theme}}">
      {% for block in block.value.content %}
      <div>
        {% include_block block %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
