{% load microsite_tags %}

<section class="mzp-c-callout mzp-l-callout {{block.value.theme}}">
    <div class="mzp-l-content">
        <div class="mzp-c-callout-content">
            <div class="mzp-c-callout-container">
                <h2 class="mzp-c-callout-title">{{block.value.headline}}</h2>
                <div class="mzp-c-callout-desc">
                    <p>{{block.value.body}}</p>
                </div>
            </div>
        </div>
        <div class="mzp-c-callout-cta">
            <div class="mzp-c-callout-cta-container">
                <a class="mzp-c-button {{block.value.theme}}" href="{{block.value.cta.url}}">{{block.value.cta.button_text}}</a>
            </div>
        </div>
    </div>
</section>

