{% load microsite_tags wagtailimages_tags %}

<style type="text/css">
  {% comment %} :root {
    --hero-background-color: #000000b2;
  }

  .hero-section.mzp-t-dark .hero-text-wrapper {
    background-color: var(--hero-background-color, #000000b2);
    box-shadow: 0 0 3px var(--hero-background-color, #000000b2);
  }

  .hero-section.mzp-t-light .hero-text-wrapper {
    background-color: var(--hero-background-color, #ffffffb2);
    box-shadow: 0 0 3px var(--hero-background-color, #ffffffb2);
  }

  .hero-section-centered,
  @media (min-width: 768px) {
    .hero-section.mzp-t-dark .hero-text-wrapper,
    .hero-section.mzp-t-light .hero-text-wrapper {
      background-color: transparent;
      box-shadow: none;
    }
  } {% endcomment %}
</style>
<section
  class="hero-section {{block.value.color_theme}} {{block.value.layout}}"
  {% if block.value.background_image %}
  {% image block.value.background_image width-1000 as bg_image %}
  style="background-image: url('{{bg_image.url}}')"
  {% endif %}"
>
  <div class="mzp-l-content">
      <div class="hero-text-wrapper">
        {% if block.value.teaser %}
          <span class="hero-title-teaser">{{block.value.teaser}}</span>
        {% endif %}
          <h1>{{block.value.main_heading}}</h1>
        {% if block.value.standfirst %}
          <p>{{block.value.standfirst|linebreaksbr}}</p>
        {% endif %}
        {% if block.value.call_to_action.url %}
          <a href="{{block.value.call_to_action.url}}" class="mzp-c-button {% seek_dark_theme_class block.value.color_theme %}">
            {{block.value.call_to_action.label}}
          </a>
        {% endif %}
      </div>
  </div>

</section>
