{% load microsite_tags wagtailimages_tags %}

<section
  class="{{block.value.theme}} hero-section"
  style="background-color: {{block.value.background_color}};
  {% if block.value.background_image %}
    {% image block.value.background_image width-1600 as bg_image %}
        background: no-repeat url('{{bg_image.url}}')
  {% endif %}"
>
  <div class="{% get_layout_class_from_page %}">
      <div class="hero-text-wrapper">
          <h1>{{block.value.main_heading}}</h1>
          <h2>{{block.value.subheading}}</h2>
          <p>{{block.value.standfirst|linebreaksbr}}</p>
      </div>
  </div>
</section>
