{# https://protocol.mozilla.org/components/detail/picto--default.html #}

{% with value=block.value|default:block %}

{% if value.layout %}
<div class="{{value.layout}}">
{% endif %}

  <section class="mzp-c-picto">
    <div class="mzp-c-picto-image">
      {% with value.image as image_block %}
      {% include "common/partials/accessible_image.html" with image_block=image_block %}
      {% endwith %}
    </div>
    {% if value.heading %}
    <h3 class="mzp-c-picto-heading">{{value.heading}}</h3>
    {% endif %}
    {% if value.body %}
    <div class="mzp-c-picto-body">
        <p>{{value.body}}</p>
    </div>
    {% endif %}

    {# Used by PictoWithLinkBlock which shares this template #}
    {% if value.link.url %}
    <a href="{{value.link.url}}">{{value.link.label}}</a>
    {% endif %}

  </section>

{% if value.layout %}
</div>
{% endif %}
{% endwith %}
