DEBUG=False
DISABLE_SSL=True

EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"

# If you want to use Google Cloud Storage locally, you'll need to set these
# variables. See https://django-storages.readthedocs.io/en/latest/backends/gcloud.html
GS_BUCKET_NAME="gcs-bucket-name-here"
GS_PROJECT_ID="gcp-project-name-here"
GOOGLE_APPLICATION_CREDENTIALS="./local-credentials/add-your-service-account-credentials-here.json"

# SSO / OIDC configuration
USE_SSO_AUTH=False  # By default for local running, go with username+password auth, not SSO

# If USE_SSO_AUTH is True, you'll be using Mozilla OpenID Connect via Auth0
# Get from IAM creentials from an appropriate person within the org to set here
# in your .env
OIDC_RP_CLIENT_ID=setme
OIDC_RP_CLIENT_SECRET=setme
