EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"

# If you want to use Google Cloud Storage locally, you'll need to set these
# variables. See https://django-storages.readthedocs.io/en/latest/backends/gcloud.html
GS_BUCKET_NAME="gcs-bucket-name-here"
GS_PROJECT_ID="gcp-project-name-here"
GOOGLE_APPLICATION_CREDENTIALS="./local-credentials/add-your-service-account-credentials-here.json"
