{% extends 'base.html' %}
{% load microsite_tags static %}


{% block global_stylesheets %}
  {% global_css_tag %}
{% endblock global_stylesheets %}

{% block extra_css %}
  {{block.super}}
  {% if settings.microsite.MicrositeSettings.navigation_enabled %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/protocol-navigation-css.css' %}">
  {% endif %}
{% endblock extra_css %}

{% block extra_head %}
  {% favicon_links %}
{% endblock extra_head %}

{% block extra_js %}
  {{block.super}}
  {% if settings.microsite.MicrositeSettings.navigation_enabled %}
  <script type="text/javascript" src="{% static 'js/protocol-navigation-js.js' %}"></script>
  {% endif %}
{% endblock extra_js %}


{% block navigation %}
  {% navigation %}
{% endblock %}


{% block footer %}
  {% site_footer %}
{% endblock footer %}
