{% extends 'base.html' %}
{% load microsite_tags static %}

{% block analytics %}
{% if GOOGLE_TAG_ID %}
<script type="text/javascript" src="{% static 'js/analytics.js' %}"></script>
{% endif %}
{% endblock analytics %}

{% block global_stylesheets %}
  {% global_css_tag %}
{% endblock global_stylesheets %}

{% block extra_css %}
  {{block.super}}
  {% if settings.microsite.MicrositeSettings.navigation_enabled %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/birdbox-navigation.css' %}">
  {% endif %}
  {% if page.specific.show_breadcrumbs %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/protocol-breadcrumb.css' %}">
  {% endif %}
{% endblock extra_css %}

{% block extra_head %}
  {% favicon_links %}
{% endblock extra_head %}

{% block extra_js %}
  {{block.super}}
  {% if settings.microsite.MicrositeSettings.navigation_enabled and settings.microsite.MicrositeSettings.navigation_generate_nav_from_page_tree %}
  <script type="text/javascript" src="{% static 'js/protocol-navigation-js.js' %}"></script>
  {% endif %}
{% endblock extra_js %}


{% block navigation %}
  {% navigation %}
{% endblock %}


{% block footer %}
  {% site_footer %}
{% endblock footer %}
