{% extends "microsite/base.html" %}
{% load microsite_tags static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}blogpost{% endblock %}

{% block content %}

{% breadcrumbs page %}

<div class="{% get_layout_class_from_page %}">
  {% if page.tags.all %}
  <ul class="blog-tags-list">
  {% for tag in page.tags.all %}
    <li class="blog-tag">{{ tag }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  <article class="bb-c-article">
    <h1 class="bb-c-article-title">{{page.title}}</h1>

    {% with page.get_author_info as author_info %}
    <p class="blog-byline">{{page.date|date}} {% if author_info %}{% if page.date %}|{% endif %}{% endif %} {{page.get_author_info}}</p>
    {% endwith %}

    {% if page.header_image %}
    <figure class="header-image">
    {% image page.header_image original alt=page.header_image_alt_text %}
    </figure>
    {% endif %}

    {% if page.standfirst %}
    <p class="bb-c-article-intro">
      {{page.standfirst}}
    </p>
    {% endif %}

    {% for block in page.body %}
      {% include_block block %}
    {% endfor %}

  </article>
</div>
{% endblock content %}
