{% extends "microsite/base.html" %}
{% load microsite_tags static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}blogpost{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div class="{% get_layout_class_from_page %}">
  <article class="mzp-c-article">

    {% for tag in page.tags.all %}
    <div class="blog-category-tag">{{tag}}</div>
    {% endfor %}

    <h1 class="mzp-c-article-title">{{page.title}}</h1>

    {% with page.get_author_info as author_info %}
    <p>{{page.date|date}} {% if author_info %}{% if page.date %}|{% endif %}{% endif %} {{page.get_author_info}}</p>
    {% endwith %}

    {% if page.header_image %}
    <figure class="header-image">
    {% image page.header_image original alt=page.header_image_alt_text %}
    </figure>
    {% endif %}

    {% if page.standfirst %}
    <p class="mzp-c-article-intro">
      {{page.standfirst}}
    </p>
    {% endif %}

    {% for block in page.body %}
      {% include_block block %}
    {% endfor %}

  </article>
</div>
{% endblock content %}
