{% extends "microsite/base.html" %}
{% load microsite_tags wagtailcore_tags wagtailmetadata_tags %}

{% block extra_head %}
  {{block.super}}
  {% meta_tags %}
{% endblock extra_head %}

{% block body_class %}template-home{% endblock %}

{% block content %}

{% block_with_h1_exists_in_page page as h1_exists %}

{% if not h1_exists %}
<div class="{% get_layout_class_from_page %}">
  <h1>{{page.title}}</h1>
</div>
{% endif %}

{% for block in page.content %}
    {% include_block block %}
{% endfor %}

{% endblock content %}
