{% extends "microsite/base.html" %}
{% load microsite_tags wagtailcore_tags %}

{% block body_class %}template-innovations-content{% endblock %}

{% block content %}

{% block_with_h1_exists_in_page page as h1_exists %}

{% if not h1_exists %}
<div class="{% get_layout_class_from_page %}">
  <h1>{{page.title}}</h1>
</div>
{% endif %}

{% for block in page.content %}
  {# Breadcrumbs go after the hero unit #}
  {% include "microsite/partials/block_with_breadcrumbs_where_appropriate.html" %}
{% endfor %}

{% endblock content %}
