{% extends "microsite/base.html" %}
{% load microsite_tags wagtailcore_tags %}

{% block body_class %}template-longform{% endblock %}

{% block content %}

{% breadcrumbs page %}

<div class="{% get_layout_class_from_page %}">

  <article class="bb-c-article">
    <h1 class="bb-c-article-title">{{page.title}}</h1>
    {% if page.introduction %}
    <div class="bb-c-article-intro">
      {{ page.introduction|richtext }}
    </div>
    {% endif %}

    {% for block in page.content %}
      {% include_block block %}
    {% endfor %}
  </article>

  {% for block in page.aftermatter %}
    {% include_block block %}
  {% endfor %}
</div>

{% endblock content %}
