{% extends "microsite/base.html" %}
{% load microsite_tags static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="{% get_layout_class_from_page %}">
  <h1>{{page.title}}</h1>
</div>
{% for block in page.body %}
    {% include_block block %}
{% endfor %}
  {% comment %}
  <button class="mzp-c-button" type="button">Test button</button>
  <button class="mzp-c-button mzp-t-product" type="button">Test button</button>
  {% endcomment %}
{% endblock content %}
