{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div class="mzp-l-content mzp-t-content-lg">
  <h1>Mozilla Protocol Theme</h1>
</div>
{% for block in page.body %}
    {% include_block block %}
  {% endfor %}
  {% comment %}
  <button class="mzp-c-button" type="button">Test button</button>
  <button class="mzp-c-button mzp-t-product" type="button">Test button</button>
  {% endcomment %}
{% endblock content %}
