// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($brand-theme: 'firefox', $type-scale: 'standard', $font-path: '/static/protocol/fonts', $image-path: '/static/protocol/img');
@use '~@mozilla-protocol/core/protocol/css/includes/themes';

// These are general styles for elements/components that occur on every page.
// Individual pages may include additional component styles as needed.

// Fonts
@import '~@mozilla-protocol/core/protocol/css/includes/fonts/inter';
@import '~@mozilla-protocol/core/protocol/css/includes/fonts/mozilla-headline';
@import '~@mozilla-protocol/core/protocol/css/includes/fonts/mozilla-text';

// Base elements - general HTML elements
@import '~@mozilla-protocol/core/protocol/css/base/elements';

// Base includes - animations
@import '~@mozilla-protocol/core/protocol/css/base/includes';

// Utility includes
@import '~@mozilla-protocol/core/protocol/css/base/utilities/backgrounds';
@import '~@mozilla-protocol/core/protocol/css/base/utilities/titles';

// Global components
@import '~@mozilla-protocol/core/protocol/css/components/button';
@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';
@import '~@mozilla-protocol/core/protocol/css/components/forms/form';

// Custom overrides for use in Birdbox
@import './src/css/birdbox-protocol-overrides.scss';

// Theme colors needed for this Innovation theme
@import './src/css/protocol-innovation-theme-colors.scss';

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src:
        url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    src:
        url('../fonts/Inter-MediumItalic.woff2') format('woff2');
}

body.brand-theme-innovation {
    background-color: $inno-color-off-white;
    color: $inno-color-off-black;
    font-feature-settings: "cv11"; // single-storey a


    h1, h2, h3, h4, h5, h6,
    .mzp-u-title-2xl,
    .mzp-u-title-xl,
    .mzp-u-title-lg,
    .mzp-u-title-md,
    .mzp-u-title-sm,
    .mzp-u-title-xs,
    .mzp-u-title-2xs,
    .mzp-u-title-3xs {
        color: $inno-color-off-black;
        font-family: $font-stack-base;
        font-weight: 500;
        letter-spacing: -0.01em;
    }

    .mzp-t-dark {
        background-color: $inno-color-off-black;
    }

    .mzp-t-dark.mzp-t-background-secondary,
    .mzp-t-dark .mzp-t-background-secondary,
    .mzp-t-dark.mzp-t-background-tertiary,
    .mzp-t-dark .mzp-t-background-tertiary {
        background-color: $inno-color-off-black;
    }

    .mzp-c-button, /* stylelint-disable-line no-duplicate-selectors */
    a.mzp-c-button {
        border-radius: 2em;
        border: 0;
        font-family: $font-stack-base;
        font-weight: 500;
        background-color: $inno-color-off-black;
        color: $inno-color-off-white;

        &:hover,
        &:focus,
        &:active {
            background-color: $inno-color-highlight-green;
            color: $inno-color-highlight-black;
        }

        &.mzp-t-dark {
            background-color: $inno-color-highlight-green;
            color: $inno-color-highlight-black;

            &:hover,
            &:focus,
            &:active {
                background-color: $inno-color-off-white;
                color: $inno-color-off-black;
            }
        }
    }

    .c-navigation {
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);

        .c-menu-item-title {
            color: inherit;
        }

        &.mzp-t-light {
            background-color: $inno-color-off-white;

            .c-menu-panel-container {
                background-color: $inno-color-off-white;
            }

            .c-menu-item-link:link,
            .c-menu-item-link:visited {
                color: $color-black;

                &:hover,
                &:focus {
                    background-color: $inno-color-highlight-green;
                    color: $inno-color-highlight-black;
                }
            }
        }

        &.mzp-t-dark {
            background-color: $inno-color-off-black;

            .c-menu-panel-container {
                background-color: $inno-color-off-black;
            }

            .c-menu-item-link:link,
            .c-menu-item-link:visited {
                color: $color-white;

                &:hover,
                &:focus {
                    background-color: $inno-color-highlight-black;
                    color: $inno-color-highlight-green;
                }
            }
        }
    }

    .mzp-c-footer .mzp-c-footer-heading {
        color: $inno-color-highlight-green;
    }
}

// override to allow a wordmark to go above without extra spacing on the off-white background
.hero-section.hero-section-centered .hero-text-wrapper {
    margin-top: 0px !important;
}
