// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($brand-theme: 'mozilla', $type-scale: 'standard', $font-path: '/static/protocol/fonts', $image-path: '/static/protocol/img');
@use '~@mozilla-protocol/core/protocol/css/includes/themes';

// These are general styles for elements/components that occur on every page.
// Individual pages may include additional component styles as needed.

// Fonts
@import '~@mozilla-protocol/core/protocol/css/includes/fonts/inter';
@import '~@mozilla-protocol/core/protocol/css/includes/fonts/mozilla-headline';
@import '~@mozilla-protocol/core/protocol/css/includes/fonts/mozilla-text';

// Base elements - general HTML elements
@import '~@mozilla-protocol/core/protocol/css/base/elements';

// Base includes - animations
@import '~@mozilla-protocol/core/protocol/css/base/includes';

// Utility includes
@import '~@mozilla-protocol/core/protocol/css/base/utilities/backgrounds';
@import '~@mozilla-protocol/core/protocol/css/base/utilities/titles';

// Global components
@import '~@mozilla-protocol/core/protocol/css/components/button';
@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';
@import '~@mozilla-protocol/core/protocol/css/components/forms/form';

// Custom overrides for use in Birdbox
@import './src/css/birdbox-protocol-overrides.scss';

// Theme colors needed for this Mozorg theme
@import './src/css/protocol-mozorg-theme-colors.scss';
