// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// custom CSS overrides for Birdbox, tweaking parts of Protocol

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

figcaption {
    margin-top: $spacing-md;
    @include text-body-sm;
}

figure {
    text-align: center;
}

// Bring the errorlist closer to the field it's related to
.mzp-c-field.mzp-is-error {
    input, textarea, select {
        margin-bottom: $spacing-xs;
    }
    ul.errorlist {
        margin-bottom: $spacing-lg;
    }
}


// Core protocol uses display: hidden to hide elements, but this isn't
// what the newletter JS expects - it wants a hidden class to add/remove
.mzp-c-newsletter-form .mzp-c-form-errors {
    display: block;

    &.hidden {
        @include hidden;
    }
}


.mzp-c-newsletter .mzp-c-newsletter-thanks {
    display: block;

    &.hidden {
        @include hidden;
    }
}

// On custom forms that are rendered with Django's default widget,
// <select>s lack enough bottom margin
.birdbox-checkbox-select-multiple-margin-fix {
    div:last-child {
        margin-bottom: $spacing-md;
    }
}


// Nav bar tweaks compared to default protocol

.mzp-c-navigation {
   box-shadow: 0 0 1px 1px rgba(29, 17, 51, .04), 0 0 3px 2px rgba(9, 32, 77, .12), 0 0 2px -3px rgba(29, 17, 51, .12);
    a.mzp-c-button {
        @include hidden;

        @media #{$mq-md} {
            display: block;
        }
    }
}


.mzp-c-navigation .c-menu-item .c-menu-item-title {
    font-size: 1rem;
    line-height: 1.5;

    @media #{$mq-md} {
        font-size: 0.875rem;
        line-height: 1.1;
        text-decoration: none !important;
    }
}
