// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// custom CSS for the Blog pages
@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/split';
@import 'article.scss';
@import 'pre-protocol/pagination.scss';


.bb-title-wrapper {
    padding-top: $layout-sm;
    padding-bottom: $layout-md;
}

.blog-tags-list {
    list-style: none;
}

.blog-tag {
    @include text-body-sm;
    background-color: $color-light-gray-20;
    border-radius: $border-radius-sm;
    display: inline-block;
    margin-bottom: $spacing-lg;
    margin-right: $spacing-sm;
    padding: $spacing-xs $spacing-md;
    text-transform: uppercase;
}

.blog-byline {
    font-weight: bold;
    border-bottom: 1px solid $color-marketing-gray-30;
    padding-bottom: $spacing-md;
    margin-bottom: $spacing-xl;
}

.blogpost figure.header-image {
    margin-bottom: $spacing-lg;
}
