// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// custom CSS for the Blog pages
@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/article';
@import '~@mozilla-protocol/core/protocol/css/components/split';
@import 'pre-protocol/pagination.scss';


.blog-category-tag {
    @include font-size(12px);
    background-color: $color-black;
    border-radius: $border-radius-sm;
    color: $color-white;
    display: inline-block;
    font-family: get-theme('button-font-family');
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: type-scale('body-line-height');
    margin-bottom: $spacing-lg;
    margin-right: $spacing-sm;
    padding: 3px $spacing-sm;
    text-transform: uppercase;
}

.blogpost figure.header-image {
    margin-bottom: $spacing-lg;
}
