// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.bb-captioned-image {
    align-items: center;
    display: flex;
    height: 150px;
    margin: $spacing-lg 0;
    text-align: center;

    img {
        display: block;
        margin: 0 auto $spacing-md;
    }

    figcaption cite {
        display: block;
    }
}
