// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';


.bb-headed-table-block {
    &.bb-table-width-full {
        table {
            width: 100%;
        }

        th {
            width: 30%;

            @media #{$mq-md} {
                width: 20%
            }
        }
    }

    table {
        text-align: left;

        // Styles required by the table plugin used by Wagtail's TableBlock
        .htLeft {
            text-align: left;
        }

        .htCenter {
            text-align: center;
        }

        .htRight {
            text-align: right;
        }

        .htJustify {
            text-justify: inter-word;
        }

        .htTop {
            vertical-align: top;
        }

        .htMiddle {
            vertical-align: middle;
        }

        .htBottom {
            vertical-align: bottom;
        }
    }
}
