// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.hero-section {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;

    @media #{$mq-md} {
        background-size: 50%;
    }

    .hero-text-wrapper {
        @media #{$mq-md} {
            max-width: 45%;
        }

        & .hero-title-teaser {
            @include font-mozilla;
            @include text-title-xs;
            display: block;
            margin-bottom: $spacing-md;
            font-weight: normal;
            text-transform: uppercase;
            line-height: 1.2em;
        }
    }

    &.hero-section-centered {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        .hero-text-wrapper{
            max-width: 100%;
            margin: auto;
            text-align: center;
        }
    }
}
