// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.hero-section.mzp-t-dark .hero-text-wrapper {
    background-color: #000000b2;
    box-shadow: 0 0 3px #000000b2;
}

.hero-section.mzp-t-light .hero-text-wrapper {
    background-color: #ffffffb2;
    box-shadow: 0 0 3px #ffffffb2;
}

// TODO: also support hero-section-centered
// .hero-section-centered,
@media (min-width: 768px) {
    .hero-section.mzp-t-dark .hero-text-wrapper,
    .hero-section.mzp-t-light .hero-text-wrapper {
        background-color: transparent;
        box-shadow: none;
    }
}

.hero-section {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;

    .hero-text-wrapper {
        padding: $spacing-md $spacing-lg;

        @media #{$mq-md} {
            max-width: 45%;
        }

        & .hero-title-teaser {
            @include font-mozilla-headline;
            @include text-title-xs;
            display: block;
            font-weight: normal;
            line-height: 1.2em;
            margin-bottom: $spacing-md;
            text-transform: uppercase;
        }
    }

    &.hero-section-centered {
        background-position: center;

        .hero-text-wrapper{
            margin: $spacing-md auto;
            max-width: $content-md;
            text-align: center;
        }
    }
}
