// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.bb-horizontal-image {
    text-align: center;
    padding: $layout-sm;

    @media #{$mq-md} {
        padding: $layout-md;
    }
    @media #{$mq-xl} {
        padding: $layout-xl;
    }
    &.bb-no-following-spacing {
        padding-bottom: 0;
    }
}
