// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';


.bb-c-picto-stack {
    border: 1px solid $color-light-gray-40;
    padding: 0 $spacing-md;
    margin-bottom: $layout-sm;

    @media #{$mq-md} {
        margin-bottom: 0;
    }

    .title {
        @include text-title-xs;
        border-bottom: 1px solid $color-light-gray-40;
        text-align: center;
        padding: $spacing-sm 0;
        margin-bottom: $spacing-lg;
    }

    .mzp-c-picto-image {
        max-width: 80px;
    }

    .mzp-c-picto,
    .mzp-c-picto-center {
        & .mzp-c-picto-image {
            margin-bottom: 0;
        }
    }

    .mzp-c-picto,
    .mzp-c-picto-side,
    .mzp-c-picto-center {
        margin-bottom: $layout-md;
    }

    .mzp-c-picto-heading {
        @include font-base;
        @include text-body-lg;
    }
}

.mzp-l-columns .bb-c-picto-stack {
    .mzp-c-picto,
    .mzp-c-picto-side,
    .mzp-c-picto-center {
        margin-bottom: $layout-sm;
    }
}
