// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';


.bb-c-picto-stack {
    .title {
        text-align: center;
        padding: $spacing-sm 0;
        margin-bottom: $spacing-lg;
    }

    .mzp-c-picto-image {
        max-width: 128px; // 2x $layout-lg
    }

    .mzp-c-picto,
    .mzp-c-picto-center {
        & .mzp-c-picto-image {
            margin-bottom: 0;
        }
    }

    .mzp-c-picto,
    .mzp-c-picto-side,
    .mzp-c-picto-center {
        margin-bottom: $spacing-2xl;
    }

    .mzp-c-picto-heading {
        @include text-title-3xs;
    }
}
